body{
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    background:#c1d4e8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    margin-bottom: 30px;
    color: aliceblue;
}
.container{
    background: #191d21;
    padding: 50px 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
}
.login-btn,.signup-btn {
   width: 80px;
   display: inline-block;
   text-decoration: none;
   padding: 12px 20px;
   margin: 10px;
   border-radius: 8px;
   font-size: 16px;
   font-weight: bold;
   color: white;
   text-align: center;
}

.login-btn {
   background-color: #0077b6;
}

.signup-btn {
   background-color: #00b4d8;
}
.login-btn:hover,.signup-btn:hover {
    background-color: #357abd;
    font-size: 18px;
}
@media (max-width: 768px) {
  .container {
    background-color:lightcoral;
    padding: 0.5em;
  }

  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  .container {
    background-color:#b75858;
    padding: 0.5em;
  }

  h1 {
    font-size: 1.5rem;
  }
}



